@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.50%; /*10px ==100%----> (100/16px)*10px ==62.50%==10px*/
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}
.Header{
    /* background: url("../img/img2.jpg"); */

    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/img2.jpg"); /* for dark back ground*/
    height:95vh;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    text-transform: uppercase;
}
.container{
    max-width: 1000px;
    width:90%; /* age km kren ge screen ko tu 90% nyche scroll bar nahi aye ga*/
    margin: 0 auto;
}
body .Header .nav-bar{
    background-color:rgb(20, 2, 37);
    overflow: hidden;
    position:fixed;
    top:0;
    width:100%;
    height: 8rem; /* (8rem*10px==80 px)----> 10 px is root element*/
}
.nav-bar .logo{
    float:left;
}
.nav-bar .logo img{
    width:7rem; 
    border:0.25em solid grey;
    border-radius:50%;
    margin-top:0.5em;
    margin-bottom: 0.5em;
}
.Header .nav-bar .nav-item{
    float: right;
}
.nav-bar::after{
    content:" ";
    display:block;
    clear:both;
}
.Header .nav-bar ul li{
    list-style: none;
    display:inline-block;
    margin: 2.5em;   
    padding-left:1.5em;
}
.nav-bar ul li a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem; /* 1.6*62.50 == 16 px */
    letter-spacing: 0.15em;
    padding: 0.5em;
}

.nav-bar ul li a:hover{
    color:gray;
    border-bottom: 1px solid grey;
}
.text-light{
    color:#f4f4f4
}
 
.Header .heading{
    margin-bottom: 0.5em;
}
.Header .para{
    margin-bottom: 0.5em;
    font-size: 1.6rem;
}
.text-red{
    color:red;
   
}
.btn{
    font-size: 1.6rem;
    display: inline-block;
    padding:0.5em 2em 0.5em 2em;
    border-radius: 2em; /*16px*/
    text-transform: uppercase;
    background-color: #fff;
    text-decoration: none;
}
.btn:hover{
    background-color: #ddd;
}
/* ### center header-content  #### */
.header-content{
    margin-top: 2em;     
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    overflow-wrap: break-word;    
} 
.Header{
    position:relative;
} 

/* #################### about######## */

.about{
    padding:5em;
}
.lg-heading{

    font-size: 2rem;
    letter-spacing:0.25rem;
}
.lg-heading::after{
    content: "";
    display: inline-block;
    border: 2px solid #e63946;
    width:100%;
}
/* ####### about-wrapper styling */
.text-grey{
    color: grey;
}
.about-wrapper{
    margin-top: 2em;
    text-align: center;
}
.about-wrapper .left{
    float:left;
    width:50%;
}
.about-wrapper .right{
    float:right;
    width:50%;
}
.about-wrapper::after{
    content:"";
    display:inline-block;
    clear:both;
}
.about-wrapper ul li{
    list-style: none;
    font-size: 1.5rem;
}
.about-wrapper li::before{
    content:'\2713';  
    color:#e63946;
    font-weight: bold;
    padding-right: 1em;
}
 p{
    font-size: 1.6rem;
} 

/* #### counts#### */
.counts{
    margin-top: 2em;
    /* padding-bottom: 10em; */
}
.count-item span{
    color:#e63946;
    font-size: 2rem;
    font-weight: bold;
}
.count-item{
    float:left;
    width:25%;
    text-align:center;
}
.counts::after{
    content:"";
    display:inline-block;
    clear:both;
}
/* ####### banner styling ###### */
.banner{
    background: linear-gradient(to bottom right, #d31616 0%, #522b2b 100%);
    margin-top:10em;
    height:7em;
    box-shadow: 5px 5px 10px rgb(177, 88, 88);
}
.banner-left{
    float:left;
    width:60%;
}
.banner-right{
    float:right;
    width:40%;
}
.banner::after{
    content: "";
    display: inline-block;
    clear:both;
}
.banner-para{
    color:#f4f4f4;
    padding:1em;
}
.banner-right .banner-btn {
    display: inline-block;
    text-decoration: none;
    padding:0.5em 2.5em;
    margin-top:0.5em;
    text-align: center;
    font-weight: 700;
    font-size:1.6rem;
    text-transform: uppercase;
    letter-spacing:0.25em ;
    color:#f4f4f4;
    border: 0.25em solid white;  /* 2px*/
    width:95%;
    text-decoration-line: none;
}
/* ######## Media Query ############# */
@media (max-width:380px){
    html{
        font-size: 50%;
    }
    body .Header .nav-bar{
        width:100%;
        height: 26rem; /* (8rem*10px==80 px)----> 10 px is root element*/
    }
    .nav-bar .logo{
        float:none;
    }
    .Header .nav-bar .nav-item{
        float:none;
    }
    .header-content{
        padding-top: 10em;
    }
    .Header .nav-bar ul li{
        display:block;
        padding-left:0em;
        margin:2em;
        text-align: center;
    }

    .about-wrapper{
        margin-bottom: 10em;
    }
    .about-wrapper .left{
        float:left;
        width:40%;
    }
    .about-wrapper .right{
        float:right;
        width:40%;
    }
    .about-wrapper li::before{
        content:'\2713';  
        color:#e63946;
        font-weight: bold;
        padding-right: 0.5em;
    }
    .banner{
        height:11em;
    }
    .banner-left{
        float:none;
        width:100%;
    }
    .banner-right{
        float:none;
        width:70%;
    }
    .banner-para{
        text-align: center;
        padding:0.15em;
    }
    .banner-right .banner-btn {
        margin:0 3.5em;
        padding:0;
    }
}

@media (max-width:500px)and (min-width:381px){
    html{
        font-size: 50%;
    }
    body .Header .nav-bar{
        width:100%;
        height: 26rem; /* (8rem*10px==80 px)----> 10 px is root element*/
    }
    .nav-bar .logo{
        float:none;
    }
    .Header .nav-bar .nav-item{
        float:none;
    }
    .header-content{
        padding-top: 10em;
    }
    .Header .nav-bar ul li{
        display:block;
        padding-left:0em;
        margin:2em;
        text-align: center;
    }
    .about-wrapper li::before{
        padding-right: 0.15em;
    }
    .banner{
        height:11em;
    }
    .banner-left{
        float:none;
        width:100%;
    }
    .banner-right{
        float:none;
        width:70%;
    }
    .banner-para{
        text-align: center;
    }
    .banner-right .banner-btn {
        margin:0 5em;
    }
}
@media (min-width:501px) and (max-width:780px){
    html{
        font-size: 50%;
    }
}
@media(orientation: landscape) and(max-height:500px){
    .Header{
        height:90vmax;
    }
}